-# app/views/directories/new.html.haml

- parent    ||= @parent
- directory ||= @directory

- parent_path = parent ? parent.path : ''

%section
  %h3 New Directory
  
  = action_form_for directory, :create, :url => "#{parent_path}/directories" do |form|
    = render "fields"
    %p
      = form.submit "Create Directory"
