-# app/views/home.html.haml

/ %p Greetings, programs!

%h1 Alpha
%p There lies the port; the vessel puffs her sails; there gloom the dark ...
%h2 Beta
%p
  Come, my friends. 'tis not too late to seek a newer world. Push off, and
  sitting well in order smite the sounding furrows; for my purpose holds to
  sail beyond the sunset, and the baths of all the western stars, until I die.
  It may be the gulfs will wash us down; it may be we shall touch the Happy
  Isles, and see the great Achilles, whom we knew. Though much is taken, much
  abides; and though we are not now that strength that in old days moved Earth
  and Heaven, that which we are, we are: one equal temper of heroic hearts,
  made weak by time and fate, but strong in will - to strive, to seek, to find,
  and not to yield.
%h3 Gamma
%h4 Delta
%h5 Epsilon
%h6 Zeta