// app/assets/stylesheets/mobile/layout.scss

body {
  margin: 1em;
/*  width: 320px;*/
  
  & > header {
    h1 { text-align: center }
    
    & > nav {
      text-align: center;
      
      ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        
        list-style-type: none;
        
        li {
          @extend .delta;
          
          display: inline-block;
          margin: 0 !important;
        } // ... ul li
      } // ... nav ul
    } // ... header > nav
  } // body > header
  
  #content {
    max-width: 30em;
    
    margin: 0 auto;
  } // body #content
  
  & > footer {
    max-width: 30em;
    margin: 0 auto;
    
    text-align: center;
  } // body > footer
} // body
